[Unit]
Description=Solar Sensor Monitor
Wants=network-online.target
After=network-online.target

[Service]
PIDFile=/tmp/solar-sensors.pid
ExecStart=/root/solar-sensors/sensor-unit/solar-sensors.py
Restart=on-failure
WorkingDirectory=/root/solar-sensors/sensor-unit
User=root
ProtectSystem=true

[Install]
WantedBy=multi-user.target
